@use "sass:color";

.postCard {
    color: black;
    text-decoration: none;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: 1.25rem;
    // @include hover-underline(black);

    & > * {
        margin: 0;
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: color.adjust(black, $lightness: 60%);
    }
}


@include apply-less-than('md') {
    .postCard {
        & > h2 {
            font-size: 1rem;
        }
    }
}