@use 'sass:color';

.header {
    border-bottom: 3px double black;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    user-select: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(5px);

    & * { margin: 0 }

    & a {
        text-decoration: none;
        color: unset;

        &:hover {
            text-decoration: underline;
        }
    }

    & > h1 {
        color: black; 
    }

    & > div {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
    }
}

.links {
    display: flex;
    color: color.adjust(black, $lightness: 40%);
    gap: 1.25rem;
}


@include apply-less-than('md') {
    .header {
        margin-bottom: 1.5rem;
        & > h1 {
            font-size: 1.25rem;
        }

        & .links {
            display: none;
        }
    }
}