$breakpoint-sm: 30rem;
$breakpoint-md: 45rem;
$breakpoint-lg: 70rem;

$breakpoints: (
  "sm": (
    max-width: $breakpoint-sm,
  ),
  "md": (
    max-width: $breakpoint-md,
  ),
  "lg": (
    max-width: $breakpoint-lg,
  )
) !default;

@mixin apply-less-than($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }